/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    font-family: Nunito, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url('../assets/background\ image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: #1c1c1c;
    color: #fff;
    padding: 10px 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #696969;
}
#navbar-text {
   margin-left: 0px;
    
}


#navbar-logo {
    height: 40px; 
    padding-left: 2%;
    margin-right: 0px;
}
/* Section Styles */
section {
    padding: 60px 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2 {
    margin-top: 0;
}

/* Modern CSS for #download section */
#download {
    margin-top: 1%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#download h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#download-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

#download-form label {
    font-size: 16px;
    color: #333;
}

#download-form select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#download-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#download-form button:hover {
    background-color: #0056b3;
}

#train {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#train h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#predictions-display {
    margin-bottom: 20px;
    /* Add more styles as needed depending on the content of this div */
}

#train button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#train button:hover {
    background-color: #0056b3;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
#data-display {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input,
form button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #218838;
}

/* Data Display Styles */
#data-display,
#training-results,
#predictions-display {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Chart Styles */

#visualize {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#visualize h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#visualize label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

#visualize select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

#chart {
    margin-top: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 5px 0;
    background-color: #1c1c1c;
    /* position: fixed; */
    color: #fff;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
